<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_1WGyndDdpiY1xVG_Tqh3OOKjFsAF-HA</string>
	<key>GCM_SENDER_ID</key>
	<string>611554490480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.berkayer.RecipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-f887c</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-f887c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611554490480:ios:08ce4b022a9adaaa229cb5</string>
</dict>
</plist>